<div class="list">
    <div class="list-header clearfix">
        <h2 class="title pull-right">ממשלת החלומות שלך:</h2>

        <div class="actions pull-left">
            <button type="button" class="cta-btn white">ערוך רשימה</button>
            <button type="button" class="cta-btn white">שתף רשימה</button>
        </div>
    </div>

    <div class="middle-wrap">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div ng-repeat="role in ListCtrl.list.roles" class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{$index}}">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{$index}}"
                           aria-expanded="false" aria-controls="collapse-{{$index}}">
                            <span class="row-label" ng-bind="role.roleName"></span>
                            <span class="row-field bold" ng-bind="role.candidateName"></span>
                            <span class="row-votes">123</span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-{{$index}}">
                    <div class="panel-body">
                        <div class="sub-row">
                            <span class="row-label"></span>
                            <span class="row-field">בנימין  נתניהו</span>
                            <span class="row-votes">123</span>
                        </div>
                        <div class="sub-row">
                            <span class="row-label"></span>
                            <span class="row-field">בנימין  נתניהו</span>
                            <span class="row-votes">123</span>
                        </div>
                        <div class="sub-row">
                            <span class="row-label"></span>
                            <span class="row-field">בנימין  נתניהו</span>
                            <span class="row-votes">123</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="cta-btn white cta-bottom">ערוך רשימה</button>
</div>
