.new-list {

	.list-items {
		line-height: 47px;
		padding: 15px 0;
	}

	.row-label {
		text-align: left;
		width: 25%;
	}

	.row-input {
		width: 50%;
	}

	.form-control.no-empty {
		font-weight: bold;
	}
}
