<div class="home">

    <div class="header">
        <div class="container">
            <div class="logo pull-right">ממשלת העם</div>

            <div class="user-info pull-left">
                <i class="glyphicon glyphicon-user"></i>
                <a href="">
                    <span>התחבר</span>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="main-area">
        <div class="titles">
            <h1 class="title">בנה לך ממשלה</h1>
            <h3 class="subtitle">טקסט כלשהו שהוא גם הסבר למה שקורה פה וגם הנעה לפעולה</h3>
        </div>

        <a ui-sref="list" class="call-to-action">התחבר והצבע עכשיו</a>
    </div>

    <div class="share">
    </div>

    <div class="top-list">
    </div>

    <div class="bottom-buttons">
        <a ui-sref="list" class="call-to-action inverse">התחבר והצבע עכשיו</a>
    </div>

    <div class="footer">
        <div class="container">
        </div>
    </div>

</div>
