<div class="home">
    <h1 class="title">בנה לך ממשלה</h1>

    <h2>טקסט כלשהו שהוא גם הסבר למה שקורה פה וגם הנעה לפעולה</h2>

    <button ui-sref="list" type="button" class="cta-btn white">התחבר ותצביע עכשיו</button>

    <div class="middle-wrap" votes-label="מס' הצבעות">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div ng-repeat="role in ::ListCtrl.list.roles" class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{$index}}">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{$index}}"
                           aria-expanded="false" aria-controls="collapse-{{$index}}" ng-click="ListCtrl.getMostPopularCandidates(role)">
                            <span class="row-label" ng-bind="::role.roleName"></span>
                            <span class="row-field bold" ng-bind="::role.candidateName"></span>
                            <span class="row-votes" ng-bind="::role.totalVotes | number"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading-{{$index}}">
                    <div class="panel-body">
                        <div class="sub-row" ng-repeat="candidate in ::role.mostPopularCandidates">
                            <span class="row-label">&nbsp;</span>
                            <span class="row-field" ng-bind="::candidate.candidateName"></span>
                            <span class="row-votes" ng-bind="::candidate.totalVotes | number"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button ui-sref="list" type="button" class="cta-btn white cta-bottom">התחבר ותצביע עכשיו</button>
</div>
