<div class="new-list">
    <h2 class="title">הרכב את ממשלת החלומות שלך:</h2>

    <form class="form-horizontal" role="form" ng-submit="ListCtrl.saveList(ListCtrl.list)">
        <div class="middle-wrap">
            <div class="list-items">
                <div class="list-item" ng-repeat="role in ListCtrl.list.roles">
                    <label for="input-{{$index}}"
                           class="row-field row-label"
                           ng-bind="role.roleName">
                    </label>

                    <div class="row-field row-input">
                        <input type="text"
                               id="input-{{$index}}"
                               class="form-control"
                               ng-class="{'no-empty': role.candidateName !== ''}"
                               ng-model="role.candidateName"
                               typeahead="candidate for candidate in ListCtrl.getCandidates($viewValue)"
                               placeholder="הזן את שם המועמד">
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="cta-btn white cta-bottom">שמור</button>
    </form>
</div>
